<div class="card-content mb-2">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{position}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color:red;"> {{s}}</i>
                    <!-- <i *ngSwitchDefault="'desayuno'">{{s}}</i> -->
                    {{s}}
                </span>
            </li>

        </ul>
        <div class="card-counter">
            <a href="#" (click)="voteUp()"> <i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()"> <i class="material-icons md-18">thumb_down</i></a>
            {{destino.votes}}
        </div>
        <div class="card-destino">

            <a href="{{destino.imagenUrl}}" class="btn-card" (click)="ir()">Leer</a>
            <!-- <span [style.display]="destino.isSelected() ? '' : 'none'"> PREFERIDO</span> -->
            <span *ngIf="destino.selected"> 
                <span ngNonBindable> {{Preferido}}  </span>
            </span>
            <a [routerLink]="['/destino',destino.destinoId]">Ver Detalle</a>
        </div>
    </div>
</div>